.formOrder{
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
    font-family: 'Open Sans', sans-serif;
}


.imgStadium {
    z-index: 1000;
    margin-left: 3px;
}
.menuPhoto{
    position: absolute;
    width: 40%;
    overflow: auto;
    white-space: nowrap;
    height: 45px;
}


.signupSection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 450px;
    text-align: center;
    display: flex;
    color: white;
}
.info {
    text-align: left;
    width: 50%;
    background: rgba(20, 20, 20, 0.8);
    padding: 30px 50px;
    border-right: 5px solid rgba(30, 30, 30, 0.9);
}

.info .icon {
    font-size: 8em;
    padding: 20px 0;
    color: #0ab4b4;
}
.signupForm {
    width: 70%;
    padding: 20px 0;
    background: rgba(20, 40, 40, 0.8);
    transition: 0.2s;
}
.signupForm h2 {
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
}
.inputFields {
    margin: 5px 0;
    font-size: 16px;
    border: none;
    border-bottom: red solid 2px;
    background: transparent;
    color: #00f188;
}
.noBullet {
    list-style-type: none;
    width: 50%;
    padding: 0;
    margin: auto;
}
.noBullet li {
    display: grid;
    text-align: center;

}
#join-btn {
    border: 1px solid #0ab4b4;
    background: rgba(20, 20, 20, 0.6);
    font-size: 18px;
    color: white;
    padding: 10px 50px;
    cursor: pointer;
    transition: 0.4s;
}
.sum{
    color: white;

}

.cancelOrderForm{
    cursor: pointer;
    position: absolute;
    top: 8px;
    color: crimson;
    font-weight: 700;
    right: 16px;
    width: 25px;
    height: 15px;
    border-radius: 50%;
}
.cancelOrderForm h3{
    background-color: #6bfc00;
    border-radius: 50%;

}

.overflow{
    margin-top: 1.5rem;
    width: 100%;
    overflow: scroll;
    display: grid;
    overflow-x: auto;
    overflow-y: auto;
    scroll-snap-type:none;
    box-shadow: 0px -1px 0px  0px #05FD00;

}
.lesson{
    margin: 0;
    color: cornsilk;
}

.timeBusy{
    margin: 0;
    font-size: 1rem;
}


/***********************************************/

::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 5px; /* высота для горизонтального скролла */
    background-color: #0038FF;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #05FD00;
    border-radius: 40%;
    box-shadow: inset 1px 1px 3px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FF0000;
}



@media only screen and (max-width: 800px) {
    .signupSection {
        top: 50%;
        left: 50%;
        width: 500px;
        height: 450px;
        font-size: 0.8rem;

    }
    .signupForm {
        width: 100%;
        background: rgba(20, 40, 40, 0.8);
        transition: 0.2s;

    }
    .info {
        text-align: left;
        width: 100%;
        background: rgba(20, 20, 20, 0.8);
        padding: 30px 15px;
        border-right: 5px solid rgba(30, 30, 30, 0.9);
    }
    .inputFields {
        font-size: 16px;
        padding: 5px;
        width: 120px;
        background: rgba(0, 0, 0, 0.5);
    }
    #join-btn {
        border: 1px solid #0ab4b4;
        background: rgba(20, 20, 20, 0.6);
        font-size: 18px;
        color: white;
        width: 120px;
        padding: 10px;
        cursor: pointer;
        transition: 0.4s;
    }

}


@media only screen and (max-width: 500px) {
    .formOrder{
        position: fixed;
        z-index: 100;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: auto;
    }
    .signupSection {
        z-index: 10000000;
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 0.8rem;
    }
    .signupForm {
        width: 100%;
        height: 38vh;
    }


    .signupForm h2 {
        display: none;
    }


    .noBullet li {
        display: grid;
        text-align: center;

    }


    .inputFields {
        font-size: 16px;
        padding: 5px;
        width: 120px;
        background: rgba(0, 0, 0, 0.5);
    }


    #center-btn {
        right: 5px;
        position: absolute;
    }






    .info {
        text-align: left;
        width: 100%;
        height: 50vh;
        position: absolute;
        bottom: 0;
        z-index: -100000;
    }
    .inputFields {
        font-size: 16px;
        width: 120px;
    }

}
