.container {
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100vh;
    color: #000000;
}

.logoContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.logoContent img{
    width: 30vh;
}
.userCount {
    top: 60%;
    font-size: 2rem;
    color: #ff0000;
    animation-name: toLeft;
    animation-duration: 1s;
    position: relative;
}
@keyframes toLeft {
    0% {
        opacity: 0;
        left: -450px;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}
.userCount img {
    animation-name: toLeft;

    width: 100px;
}
.orderCount p {
    margin: 0;
}
.userCount p {
    margin: 0;
}

.orderCount img {
    width: 100px;
}

.orderCount {
    top: 60%;
    position: relative;
    font-size: 2rem;
    color: #ff0000;
    animation-name: toRight;
    animation-duration: 1s;

}

.centered {
    position: relative;
    top: -40%;
    width: 46ch;
    transform: translateX(-23ch);
    color: #000000;
}
.logo{}

.backgroundImg{
    position: sticky;
    z-index: -100;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.countImg{
    position: absolute;
    top: 60%;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@keyframes toRight {
    0% {
        opacity: 0;
        right: -450px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}
